.btn-outline-main {
    border: 1px solid white;
    border-radius: 0;
    padding: 10px 45px;
    color: #0f2849;
    font-weight: 900;
    transition: all .25s ease-in-out;
}

.btn-outline-main:hover {
    background: #0f2849;
    color: white;
}

.btn-main {
    background: var(--accent-secondary);
    border: 2px solid var(--accent-secondary);
    border-radius: 25px;
    padding: 15px 35px;
    transition: all .25s ease-in-out;
    text-decoration: none !important;
    display: inline-block;
}

.btn-main:hover {
    background: white;
    color: var(--accent-secondary) !important;
    border: 2px solid var(--accent-primary);
}